# Modelos 3D
*.fbx filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text

# Arquivos grandes
*.psd filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.png !text !filter !merge !diff
*.gif !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.jpeg !text !filter !merge !diff
*.wav !text !filter !merge !diff
*.ogg !text !filter !merge !diff
*.ttf !text !filter !merge !diff
*.pdf !text !filter !merge !diff
